<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Your cloud infrastructure, simplified.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Applications</h4>
                    <p class="text-muted">Design & develop <b>scalable</b> web services. I can help you start up and running quickly, while still ensuring that there is enough flexibility to expand for future needs.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Platform Build Out</h4>
                    <p class="text-muted">Easy to say and hard to figure out. I've built and worked on multiple web based platforms, serving millions of customers! I can help you architect, design and develop yours.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Information Security</h4>
                    <p class="text-muted">Security in cloud services is one of the hardest things to get right! I help you navigate the jargon and select the <strong>right</strong> set of technologies.</p>
                </div>
            </div>
        </div>
    </section>